/* It is a less file. */
.div_inline_block {
  display: inline-block;
}
.div_inline_block {
  *display: inline;
}
.clear {
  font-size: 0;
  height: 0;
  clear: both;
}
.logodiv {
  background-color: #f0f0f0;
  height: 145px;
}
#slid {
  margin-top: 15px;
}
#serv {
  font-size: 0;
  background-color: #25458f;
}
#serv a {
  font-size: 30px;
  display: inline-block;
  width: 33%;
  color: #ffffff;
  height: 112px;
  line-height: 112px;
  text-indent: 105px;
}
#serv a:hover {
  background-color: #2a4fa3;
  cursor: pointer;
}
#serv .s1 {
  background: url(../images/index/sev1.png) no-repeat 15px 50%;
}
#serv .s2 {
  background: url(../images/index/sev2.png) no-repeat 15px 50%;
}
#serv .s3 {
  background: url(../images/index/sev3.png) no-repeat 15px 50%;
}
#main {
  margin-top: 36px;
}
#main .span4 {
  background-color: #f0f0f0;
  overflow: hidden;
}
#main .inner {
  min-height: 280px;
  margin: 15px;
  margin-bottom: 0;
}
#main .cn {
  font-size: 18px;
  color: #d20d32;
  font-weight: 700;
}
#main .en {
  float: right;
  color: #0e2a62;
  font-family: Arial;
}
#main .line {
  height: 1px;
  background-color: #ccced6;
  margin-top: 9px;
}
#main ul.list {
  margin-left: 0;
}
#main ul.list li {
  list-style: none;
  font-size: 0;
}
#main ul.list a,
#main ul.list span {
  display: inline-block;
  vertical-align: top;
}
#main ul.list a {
  width: 71%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 14px;
  text-indent: 9px;
  margin: 6px 0;
}
#main ul.list span {
  width: 24%;
  font-size: 14px;
  margin-left: 4px;
  text-align: right;
  float: right;
}
#main .newsCont {
  background-color: #d2daec;
}
#main .newsCont .list a {
  background: url("../images/index/red_tri.gif") no-repeat 0px 50%;
}
#main .indus {
  background-color: #ffffff;
}
#main .indus .list a {
  background: url("../images/index/blue_tri.gif") no-repeat 0px 50%;
}
#main .other {
  background-color: #fff;
}
